<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/register.css">
    <title>Register</title>
</head>
<body>
    <div class="maincont">
        <div class="login-form">
            <form action="/login" method="post">
                <label>Email</label><br>
                <input type="text" name="email" placeholder="Set email"><br>
                <label for="">Password</label><br>
                <input type="password" name="password" placeholder="Set Password"><br>
                <button type="submit">Submit</button>
                
                
            </form>
    
           </div>
       </div>
       
</body>
</html>