
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    
}
header{
    width:100%;
    height:100vh;
    background-color:white;
    position: absolute;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;

}
.delete-method{
    width:50%;
    height:300px;
    background-color:grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#conf-del{
    background-color: red;
    color:black;
    position:relative;
    left:70%;
    top:20%;
}
.navbar{
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-between;
    padding:0 20px;
    background-color:black;
    align-items: center;
    color:white;

    
}
.navopt{
    display: flex;
    padding:0 10px;
    justify-content: space-evenly;
    align-items: center;
}
.navopt li{
    list-style: none;
    padding:0 20px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:red;
    font-size: 22px;
    transition: 0.5s ease;
}

.datashow{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top:20px;
}
.datashow h1{
    font-size: 30px;
}
.stu-data{
    width:90%;
    background-color:rgb(65, 63, 63);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 0;
    height:80px;
    padding:20px 20px;

}

.stu-name{
    color:white;
    margin-left:100px;
}

#matter{
    text-align: center;
    background-color:white;
    color:black;
    width:90%;
    height:auto;
    
    

}

.hidden{
    
    display: none;
}
#close-button{
    background-color: rgb(35, 35, 241);
    color:white;
    font-weight: 600;
    margin:10px 0;
}
/* tabel */
.table-container {
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
}
.table-container th, .table-container td {
    border: 5px solid rgb(142, 140, 140);
    padding: 8px;
    text-align: left;
}
.table-container th {
    color:black;
    font-weight: 600;
}
.wide-column {
    width: 70%; /* Adjust the width of the second column as needed */
}
.student-container{
    display:flex;
    justify-content: space-evenly;
    margin:30px;
    border:1px solid black;
}
.student{
    width:250px;
    height:300px;
    border-radius:5px 5px 5px 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
}
.image{
    width:70%;
    height:50%;
}
.image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.matter{
    width:100%;
    height:30%;
}
.matter h5,h6{
    text-align: center;
}
#link{
    border:none;
    color:black;
    padding:15px 20px;
    font-size: 15px;
    cursor:pointer;
}
.mobile{
    display: none;
}
@media (max-width:600px){
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        display: none;
        text-align: center;
        margin-bottom: 10px;
    }

    .navopt {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .mobile {
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        background-color: black;
    }

    .student-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: none;
    }

    .student {
        width: 90%;
        height:150px;
        margin-bottom: 30px;
    }

    .image {
        width: 100px;
        height: 100px;
    }
    .image img{
        width:100%;
        height:100%;
    }
}
@media (max-width: 601px) {
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navopt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .student-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: none;
    }

    .student {
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }

    .image {
        width: 100%;
        height: auto;
    }
}